{% extends "tracker/base.html" %}

{% block content %}

<div class="topbar">
    <div class="brand">
        {% if is_edit %}Edit Work Time{% else %}Add Work Time{% endif %}
    </div>
    <a href="{% url 'dashboard' %}" class="logout">Back</a>
</div>

<button type="submit" class="button">
    {% if is_edit %}Save Changes{% else %}Save Work Time{% endif %}
</button>

<div class="card">
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Work date</label>
            {{ form.work_date }}
        </div>

        <div class="form-group">
            <label>Hours</label>
            {{ form.hours }}
        </div>

        <div class="form-group">
            <label>Minutes</label>
            {{ form.minutes }}
        </div>

        <div class="form-group">
            <label>Note</label>
            {{ form.note }}
        </div>

        <button type="submit" class="button">
            Save Work Time
        </button>
    </form>
</div>

{% endblock %}